<%= link_to "Rails6 Mongoid Devise Rspec Cucumber", root_path, :class => 'brand' %>

<ul class="nav">
  <% if user_signed_in? %>
    <li><%= current_user.email %></li>
  <% end %>

  <li>
    <% if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
  </li>

  <li>
    <% if user_signed_in? %>
      <%= link_to 'Edit account', edit_user_registration_path %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </li>
</ul>
